$background-danger: rgb(255, 143, 143);

.Todos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.Todos-list {
  min-height: 80vh;
  width: 50vw;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 10px;
  padding: 20px;
}

.Todos-invalid-input {
  background-color: $background-danger;
}

.Todos-valid-input,
.Todos-pristine-input {
  background-color: inherit;
}